@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

* {
  box-sizing: border-box;
}

h1 {
    padding-top: 0.5rem;
  color: #fff;
  font-weight: bold;
  font-size: 108px
}
body {
    background-color: black;
  /* background-color: #f9f9ff; */
  opacity: 1;
  background-image: radial-gradient(circle at center center, #0b0c17, #f9f9ff),
    repeating-radial-gradient(
      circle at center center,
      #0b0c17,
      #0b0c17,
      15px,
      transparent 30px,
      transparent 15px
    );
  background-blend-mode: multiply;
  background-blend-mode: multiply;
  color: #000000;
  font-family: "Muli", sans-serif;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container{
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1), 0 6px 6px rgba(0,0,0,0.1);
    padding: 50px 20px;
    text-align: center;
    max-width: 100%;
    width: 800px;
}

h3{
    margin: 0;
    opacity: 0.5;
    letter-spacing: 2px;

}

.joke{
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 40px;
    margin: 50px auto;
    max-width: 600px;
}

.btn{
    background-color: #9f68e0;
    border: 0;
    border-radius: 10px;
    color: #fff;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1), 0 6px 6px rgba(0,0,0,0.1);
    padding: 14px 40px;
    font-size: 16px;
    cursor: pointer;
}

.btn:active{
    transform: scale(0.98);
}
.btn:focus{
    outline: 0;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(255, 251, 251);
    color: rgb(0, 0, 0);
    text-align: center;
}